
@{
    ViewData["Title"] = "Recomendación";
}

<div>
   
   
  
</div>
<section class="ftco-section bg-light ftco-no-pt ftco-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                <div class="d-block services active text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="flaticon-blind"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">¿Cómo cuidar responsablemente a una mascota?</h3>
                        <p>
                            Cuando se planea tener una mascota, se tiene que saber que es una responsabilidad de muchos años donde se tiene que dar amor, cariño y acompañarlos durante todas sus etapas de vida.
                        </p>
                        <a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                <div class="d-block services text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="flaticon-dog-eating"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">¿Cómo cuidar a un cachorro?</h3>
                        <p>
                            Los cuidados de cachorro no son siempre fáciles, son muchos aspectos que se tienen que tener en cuenta. A continuación, mostramos los principales consejos para cuidar de manera adecuada a una mascota.
                        </p>
                        <a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>