
@{
    ViewData["Title"] = "Index";
   }


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-12 text-right">
                <a class="btn btn-primary" href="/public/crear">Crear Post</a>
            </div>
            @if (Model.Count<1)
            {
                
                        <h4>No tiene publicaciones</h4>
            }
            @if (Model.Count >= 1)
            {
                @foreach (var item in Model)
                {
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch">
                            <a href="/public/detalle?id=@item.Id" class="block-20 rounded" style="background-image: url('images/@item.Imagen');">
                            </a>
                            <div class="text p-4">
                                <div class="meta mb-2">
                                    <span class="excerpt d-block">@item.Titulo</span>
                                    <div><a href="#">@item.FechaRegistro.ToString("d,M,yyyy")</a></div>
                                </div>
                                <span class=" d-block">Creado el @item.Descripcion.Substring(0, 30)...</span>
                                <a href="/dashboard/editar?id=@item.Id" class="btn btn-primary px-2 py-3"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="/dashboard/eliminar?id=@item.Id" class="btn btn-danger px-2 py-3"><i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

